@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');
@import url('https://fonts.cdnfonts.com/css/brittany-signature');
@import "tailwindcss";


@theme {
  --color-mint-green: #6BAF92;
  --color-warm-white: #FAFAFA;
  --color-muted-dark-green: #3F6F58;
  --color-soft-sage: #A8C3B0;
  --color-light-mint: #E8F5EE;
  --color-light-pastel-green: #DCEFE4;
  --color-gold-beige: #EAD9C6;

  --font-primary: "Outfit", sans-serif;
  --font-brand: "Brittany Signature", cursive;
}

@layer base {
  body {
    @apply m-0 font-primary bg-warm-white text-muted-dark-green antialiased;
  }
}

* {
  box-sizing: border-box;
}
